ion-content{
    --ion-background-color:white !important;
   // --ion-text-color:black;    
}

ion-toolbar{
    --ion-toolbar-background:blue;
    --ion-text-color : white
}
ion-label{
    --ion-text-color:black;
}

ion-icon{
   // --ion-item-background:black!important;
    --ion-border-color: blue;
}


