ion-card-subtitle{
    ion-input{
   border: solid 1px black;
   border-radius: 5px 5px 5px 5px;    
}
}

ion-card-subtitle{
ion-textarea{
border: solid  1px black;
border-radius: 5px 5px 5px 5px;
}
}

ion-content{
--ion-background-color:white !important;
--ion-text-color:black!important;    
}

ion-toolbar{
--ion-toolbar-background:blue;
--ion-text-color : white;
}
ion-label{
--ion-text-color:black;
}

ion-col{
ion-select{
border: solid  1px black;
border-radius: 5px 5px 5px 5px;

}
}