

<ion-header>
  <ion-toolbar color="success">
    Login
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-img 
  src="assets/resources/logo2.png"></ion-img>
  <form #form="ngForm"  method="post">
    <ion-item class="ion-margin">
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel type="email" [(ngModel)]="user.strEmail" name= "Email" ></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel type="password" [(ngModel)]="user.strPassword" name= "password"></ion-input>
    </ion-item>
  <p></p>
    <ion-text  class="ion-margin-top" color="dark" ><a [routerLink]="['/changepass']">¿Olvidaste tu contraseña?</a></ion-text>
  
    <ion-button class="ion-margin" type="submit" expand="block" (click)= "login()" color="success">Login</ion-button>
  </form>

  <ion-text   color="dark" ><h5>¿No tienes una cuenta?</h5></ion-text>
  <ion-button class="ion-margin" expand="block" color="primary" [routerLink]="['/registrar']" >Registrate</ion-button>
</ion-content>