<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="especialidad">
      </ion-back-button>
    </ion-buttons>
    <ion-title >
       <small>Nueva especialidad</small>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
     <ion-card-title color="dark">Ingresa los datos necesarios para agregar tu tipo postre</ion-card-title> 
    </ion-card-header>
  
    <ion-card-content>
  
      <ion-card-subtitle color="dark" class="ion-margin">
        <ion-input  placeholder="Nombre o descripcion" [(ngModel)]="especialidad.strDescripcion" name="descripcion"></ion-input>
      </ion-card-subtitle>
      <ion-card-subtitle color="dark" class="ion-margin" >
        <ion-input  placeholder="Precio" [(ngModel)] ="especialidad.nmbCosto" name="precio"></ion-input>
      </ion-card-subtitle>
  
      <ion-button expand="block" color="primary" class="ion-margin" (click)="alertas(especialidad)">Agregar</ion-button>
    </ion-card-content>
  </ion-card>

  </ion-content>
  
